/* Importing Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #6cb6be;
  /* --secondary-color: #6fbb95; */
  --text-color: #eeeff3;
  --bg-color: rgb(173, 237, 173);
  --link-color: #f27da8;
  --dark-bg-color: lightpink;
}

body {
  font-family: "Roboto";
  margin:0;
  background-color: rgb(248, 247, 247);
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color:var(--bg-color) ;
  align-items: center;
  padding: 0 1rem;
}

.nav-links {
  list-style: none;
  width: 25rem;
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  text-decoration: none;
  color:var(--text-color);
  transition:color 1s ease-in;
}

.nav-links a:hover{
    color:var(--link-color); 
}


.container{
    text-align: center;
    box-sizing: border-box;
}

.hero{
    background-color:var(--dark-bg-color) ;
    color:var(--text-color);
    
}

.container h2{
    margin:0;
    padding-top: 3.5rem;
    font-size: 2rem;
}
.cta-btn{
   margin: 2rem;
   width: 7rem;
   height:2rem;
   border-radius: 0.2rem;
   background-color:var(--bg-color);
   font-size:1rem;
   border-color: transparent;
   /* transition:background-color 1s ease; */
   
}

.cta-btn a{
    text-decoration: none;
    color: var(--text-color); 

}

.cta-btn:hover{
    background-color:lightblue;
}

.grid{
    width:70%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    margin-top:2rem;
    justify-self: center;
    /* gap:1.5rem; */
    /* display: flex;
    justify-content: center;
    margin-top:2rem; */
}
.cards{
    background-color: white;
    margin:0 0.6rem;
    box-shadow: 2px 2px 2px rgb(212, 211, 211);
}
.cards img{
    
    width:90%;
    margin-top: 1rem;
}
.price{
    color:lightpink;
}

.testimonials{
    background-color: var(--primary-color);
    margin-top:4rem;
    height:17rem;
}
.t-cards{
   background-color:lightpink;
   width:15rem;
}

.footer{
    text-align: center;
}


table,th,td{
    border: 2px solid orange;
}
table{
    border-collapse: collapse;
    width:70%;
    
    text-align: center;
    
    
}

.table{
   display:flex;
   justify-content: center;
    
}

@keyframes slide {
    
    0% {
      transform: translate(0%) ;
    }
    
    100% {
      transform: translate(0,-10px) ; 
    }
  }

  .Ani-Heading{
    animation: slide 2s ease-in-out alternate both;
 }